<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github fa-fade"></i></a>
    <a href="#"><i class="fab fa-instagram fa-fade"></i></a>
    <a href="#"><i class="fab fa-facebook fa-fade"></i></a>
    <a href="#"><i class="fab fa-twitter fa-fade"></i></a>
    <a href="#"><i class="fab fa-linkedin fa-fade"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart fa-fade"></i> at Le Wagon
  </div>
</div>
