.container{
  // display: flex;
}

.card-product img {
  text-decoration: none;
  position: absolute;
  width: 501px;
  height: 250px;
  left: 39px;
  top: 100px;

  background: #D9D9D9;}

  .card-product-infos {
    text-decoration: none;
    position: absolute;
    width: 700px;
    height: 82px;
    left: 600px;
    top: 107px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 15px;
    color: #000000;

  }


  .buy {
    text-decoration: none;
    position: absolute;
    width: 347px;
    height: 65px;
    left: 877px;
    top: 505px;
    display: flex;
    background: #7A2308;
    border-radius: 20px;
    position: absolute;
    width: 150px;
    height: 40px;
    left: 950px;
    top: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    justify-content: space-around;

  }
   .buy:hover {
    text-decoration: none;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .comment-box {
    text-decoration: none;
    position: absolute;
    width: 593px;
    height: 160px;
    left: 26px;
    top: 474px;
    background: #FFFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn{
    font-family: 'Open Sans';
    display: inline-block;
    background-color: #7A2308;
    &:hover{
      background-color: #7A2308;
    }
  }

  #button-div{
    font-family: 'Open Sans';
    gap: 10px;
    display: flex;
  }

  .btn-return{
    font-family: 'Open Sans';
    color:#FFFFFF;
    &:hover{
      background-color: #7A2308;
    }
  }
