<h1> Minhas compras</h1>
    <p>
      <strong>Comprador:</strong>
      <%= @user.name %>
    </p>
  <% @sales.each do |sale| %>
    <p>
      <strong>Café:</strong>
      <%= sale.coffee.brand %><br>
      <strong>Preço:</strong> R$
      <%= sale.coffee.price %>
       <strong>Vendendor:</strong>
      <%= sale.coffee.user.name %>

    </p>

  <% end %>
